---
export const prerender = false;
import HomeLayout from '../../layouts/HomeLayout.astro';
import EventCard from '../../components/EventCard';
import FetchError from '../../components/FetchError';

type Event = {
  _id: string;
  title: string;
  price: number;
  date: Date;
  time: string;
  location: string;
  image_secure_url: string;
};

let errors = '';

const token = Astro.cookies.get('token')?.value;
const events: Event[] = await fetch(`${import.meta.env.PUBLIC_API_URL}/events`)
  .then((res) => res.json())
  .catch((err) => (errors = err.message));
---

<HomeLayout title="Eventful | Explore Events">
  <div class="headline-container">
    <h1 class="text-4xl md:text-6xl font-bold w-full md:w-3/4 text-white">
      Discover Events for all the things you love
    </h1>
  </div>
  <main>
    <!-- event cards here -->
    <section>
      {errors && <FetchError client:load title="events" />}
      {
        !errors && events.length === 0 && (
          <h1 class="text-center text-2xl mb-3">No events found</h1>
        )
      }
      {
        !errors && events.length > 0 && (
          <div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 pt-6 gap-8">
            {events.map((event) => (
              <div class="rounded">
                <EventCard
                  client:load
                  id={event._id}
                  name={event.title}
                  price={event.price}
                  date={event.date}
                  location={event.location}
                  time={event.time}
                  token={token}
                  image={event.image_secure_url}
                />
              </div>
            ))}
          </div>
        )
      }
    </section>
  </main>
</HomeLayout>

<style>
  .headline-container {
    display: flex;
    align-items: center;
    background: #a39964;
    background-image: linear-gradient(
        to bottom,
        rgb(163 153 100 / 50%),
        rgb(204 23 68 / 50%)
      ),
      url('/gathering.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 60%;
    height: 55vh;
    width: 100%;
    margin-top: 2rem;
    padding-left: 1.5rem;
  }
</style>
